.custom-select-container {
    position: absolute;
    /* width: 36%; */
}

.custom-select-huid-container {
    position: absolute;
    /* width: 42%; */
}


.custom-select-emerald-category {
    position: absolute;

}


/* .custom-select-total {
    width: 95%;
} */

.input-field-chitti-table {
    /* width: 200px; */
    padding: 10px 5px !important;
}

@media only screen and (min-width: 1280px) {
    .custom-select-container {
        width: 36%;
    }

    .custom-select-huid-container {
        width: 45%;
    }

    .custom-select-emerald-category {
        width: 17%;
    }

}

@media only screen and (max-width: 980px) {
    .custom-select-container {
        width: 25%;
    }

    .custom-select-huid-container {
        width: 27%;
    }

    .custom-select-emerald-category {
        width: 15%;
    }
}


@media only screen and (max-width: 890px) {
    .custom-select-container {
        width: 35%;
    }

    .custom-select-huid-container {
        width: 45%;
    }

    .custom-select-emerald-category {
        width: 13%;
    }
}

@media only screen and (max-width: 767px) {
    .custom-select-container {
        width: 28%;
    }

    .custom-select-huid-container {
        width: 35%;
    }
}

@media only screen and (max-width: 570px) {
    .custom-select-container {
        width: 38% !important;
    }

    .custom-select-huid-container {
        width: 45%;
    }
}

@media only screen and (max-width: 500px) {
    .custom-select-container {
        width: 27% !important;
    }

    .custom-select-huid-container {
        width: 30%;
    }
}

@media only screen and (max-width: 430px) {
    .custom-select-container {
        width: 20% !important;
    }

    .custom-select-huid-container {
        width: 28%;
    }
}