.custom-select-container {
    position: absolute;
}

.custom-select-huid-container {
    position: absolute;
}


.custom-select-emerald-category {
    position: absolute;
}

.submitted-date-label-chitti {
    font-size: 14px;
}

.table-header-row-emerald-chitti {
    background-color: #2f308c;
    color: white;
    font-size: 0.8rem;
    line-height: 12px;
}

.input-field-chitti-table {
    padding: 10px 5px !important;
    border: 1px solid #2f308c6e;
}

.search-btn-challan-list {
    padding: 1px 40px !important;
    background-color: #6164ef !important;
    border: none;
}

.emerald_chitti_table_td {
    padding: 2px !important;
}

@media only screen and (max-width:2380px) {
    .custom-select-container {
        width: 10%;
    }

    .custom-select-huid-container {
        width: 22%;
    }

    .custom-select-emerald-category {
        width: 17%;
    }

    .challan_sub_cat_col {
        width: 32%;
    }

    .challan_gr_wt_col {
        width: 16%;
    }

    .huid_wt_header_col {
        width: 16%;
    }
}

@media only screen and (max-width: 1980px) {
    .custom-select-container {
        width: 17%;
    }

    .custom-select-huid-container {
        width: 32%;
    }

    .custom-select-emerald-category {
        width: 17%;
    }

    .challan_sub_cat_col {
        width: 32%;
    }

    .challan_gr_wt_col {
        width: 16%;
    }

    .huid_wt_header_col {
        width: 16%;
    }
}

@media only screen and (max-width: 1980px) {
    .custom-select-container {
        width: 12%;
    }

    .custom-select-huid-container {
        width: 27%;
    }

    .custom-select-emerald-category {
        width: 17%;
    }

    .challan_sub_cat_col {
        width: 32%;
    }

    .challan_gr_wt_col {
        width: 16%;
    }

    .huid_wt_header_col {
        width: 16%;
    }
}

@media only screen and (max-width: 1880px) {
    .custom-select-container {
        width: 17%;
    }

    .custom-select-huid-container {
        width: 29%;
    }

    .custom-select-emerald-category {
        width: 17%;
    }

    .challan_sub_cat_col {
        width: 32%;
    }

    .challan_gr_wt_col {
        width: 16%;
    }

    .huid_wt_header_col {
        width: 16%;
    }
}

@media only screen and (max-width: 980px) {
    .custom-select-container {
        width: 20%;
    }

    .custom-select-huid-container {
        width: 37%;
    }

    .custom-select-emerald-category {
        width: 17%;
    }

    .chitti-table-container {
        padding: 0px;
    }

    .table-heading-row {
        line-height: 15px;
    }
}


@media only screen and (max-width: 890px) {
    .custom-select-container {
        width: 25%;
    }

    .custom-select-huid-container {
        width: 35%;
    }

    .custom-select-emerald-category {
        width: 18%;
    }
}

@media only screen and (max-width: 777px) {
    .custom-select-container {
        width: 20%;
    }

    .custom-select-huid-container {
        width: 35%;
    }
}

@media only screen and (max-width: 720px) {
    .custom-select-container {
        width: 18%;
    }

    .custom-select-huid-container {
        width: 39%;
    }
}


@media only screen and (max-width: 570px) {
    .custom-select-container {
        width: 28% !important;
    }

    .custom-select-huid-container {
        width: 35%;
    }
}

@media only screen and (max-width: 500px) {
    .custom-select-container {
        width: 19% !important;
    }

    .custom-select-huid-container {
        width: 37%;
    }
}

@media only screen and (max-width: 420px) {
    .custom-select-container {
        width: 20% !important;
    }

    .custom-select-huid-container {
        width: 40%;
    }
}

@media only screen and (max-width: 370px) {
    .custom-select-container {
        width: 13% !important;
    }

    .custom-select-huid-container {
        width: 40%;
    }
}

@media only screen and (max-width: 300px) {
    .custom-select-container {
        width: 9% !important;
    }


}


.emerald-chitti-table-row {
    height: 174px;
}