#root {
  font-family: 'Nunito' !important;
  font-size: 0.9rem;
}

.body {
  font-family: 'Nunito' !important;
}

.form-label-bold {
  font-weight: 600;
}

.header-card-container {
  border: 1px solid rgb(180, 209, 235);
  border-radius: 10px;
  margin: 0px 4px;
}

.header-card {
  border-radius: 9px !important;
}

.listing-table td {
  padding: 0px !important;
}

.button-section-td {
  padding: 2px 0.1rem !important;
}

.button-section-td button {
  line-height: 0.7rem !important;
}

.button-section-text {
  font-size: 0.8rem;
  text-decoration: underline;
  cursor: pointer;
}

.button-section-text:hover {
  text-decoration: none;
}

.icons-color {
  height: 33px !important;
  width: 35px !important;
  font-size: 20px !important;
}

.card-container-margin {
  margin-top: 80px;
}

.hr_line {
  height: 1px !important;
  margin: 0px;
}


.chitti-nav-tabs .nav-tabs .nav-item {
  padding: 0px !important;
  line-height: 13px !important;
}

.chitti-listing-search-btn:hover {
  color: white;
}

.chitti-listing-search-btn {
  padding: 0px !important;
}

.cursor-pointer {
  cursor: pointer;
}

.chitti-nav-tabs .nav-tabs .nav-item.show .nav-link,
.nav-tabs .nav-link {
  border: 1px solid #e9ecef;
}

.chitti-nav-tabs .nav-tabs .nav-item.show .nav-link,
.nav-tabs .nav-link.active {
  background-color: #2f308c;
  color: white;
}

.chitti-nav-tabs .nav-justified .nav-item {
  display: flex;
  justify-content: center;
}

.form-control {
  padding: 0px;
  line-height: 1.3px;
  border: 1px solid #2f308c6e;
}

.table-data-input {
  padding: 0.20rem 0.50rem !important;
}

.custom-input-field {
  height: 40% !important;
  line-height: normal;
}

.custom-input-field-t {
  height: 0% !important;
}

.input-field-select {
  height: 26% !important;
}

.dropdown-input {
  height: 0%;
}

.dropdown-input-container {
  position: relative;
}

.dropdown-input-container input {
  height: 0px;
}

.dropdown-ul-list {
  position: absolute;
  background-color: rgb(255, 255, 255);
  border-radius: 2px 2px 2px 2px;
  border: 1px solid #2f308c !important;
  list-style: none;
  width: 100%;
  padding: 0px;
}


.dropdown-ul-list {
  max-height: 170px;

  overflow-y: auto;
}

.dropdown-ul-list li {
  padding: 0px 4px;
  font-size: 0.8rem;
}

.dropdown-ul-list li:hover {
  background-color: #86b7fe;
  color: white;
}

.custom-select-input div {
  min-height: 29px !important;
  background-color: #E0E1F5 !important;
  color: black !important;

}

/* src/components/Dropdown.css */
.dropdown {
  position: relative;
  display: inline-block;
}

.dropdown-input {
  cursor: pointer;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

.dropdown-input.open {
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
}

.client-name-input-chitti {
  padding: 8px !important;
  border: 1px solid #2f308c6e !important;
}

.dropdown-options {
  position: absolute;
  top: 100%;
  left: 0;
  right: 0;
  border: 1px solid #ccc;
  border-top: none;
  border-bottom-left-radius: 4px;
  border-bottom-right-radius: 4px;
  list-style: none;
  padding: 0;
  margin: 0;
}

.master-title-heading {
  color: black;
  text-decoration: none;
}

.master-input-field {
  height: 30px !important;
}

.dropdown-options li {
  padding: 10px;
  background-color: #fff;
  cursor: pointer;
}

.dropdown-options li:hover {
  background-color: #f0f0f0;
}

.custom-select-input .css-1c8v8fs-control .css-art2ul-ValueContainer2 {
  padding: 0px !important;
}

.custom-select-input .css-165vwa-control {
  border-color: #86b7fe !important;
  box-shadow: 0 0 0 0.25rem rgba(13, 110, 253, .25) !important;

}

.custom-select-input .css-dgpnjf-control {
  border-color: #86b7fe !important;
  box-shadow: 0 0 0 0.25rem rgba(13, 110, 253, .25) !important;
}

.select-dropdown-list {
  position: absolute;
  background-color: white;
  border: 1px solid blue;
  border-radius: 0 0 5px 5px;
  border-top: none;
  font-family: sans-serif;
  width: 350px;
  padding: 5px;
  max-height: 10rem;
  overflow-y: auto
}

.narration-table-product {
  width: 60%;
}

.input-fields {
  background-color: #E0E1F5;
  padding: 12px 10px;
  border: 1px solid #2f308c6e;
}

.search-btn {
  background-color: #2f308c;
  padding: 9px;
  color: white;
}

.table-heading {
  background-color: #2f308c;
  color: white;
}

.sr-width {
  width: 6%
}

.table-header-row {
  /* background-color: #E0E1F5; */
  background-color: #2f308c;
  color: white;
  line-height: 5px;
}

.table-body-row {
  line-height: 17px !important;
}

.table-body-row-em {
  line-height: 0px !important;
  font-size: 0.9rem;
}

.table-heading-row {
  line-height: 1px;
}



table tr {
  text-align: center;
}

.emerald-input-field {
  font-size: 0.9rem;
  padding: 1px 5px;
}

.select-field {
  background-color: #E0E1F5 !important;
  padding: 0px 5px !important;
  height: 27px !important;
}

.docstatus-button {
  background-color: rgb(242, 220, 220) !important;
  padding: 0px 13px !important;
  color: rgb(243, 97, 97) !important;
  font-size: 0.8rem;
  /* font-weight: 550; */
}

.table-responsive {
  /* max-height: 400px !important; */
  /* Set a maximum height that triggers the scrollbar */
  overflow: auto !important;
  /* Enable vertical scrolling when content exceeds the height */
}