.login-page-container {
    margin-top: 70px;
}

.login-input-field {
    line-height: 26px !important;
}

.login-card {
    width: 30rem !important;
}

@media screen and (max-width:768px) {

    .login-card {
        width: 20rem !important;
    }
}

@media screen and (max-width:368px) {

    .login-card {
        width: 15rem !important;
    }
}