.master-ul-li {
    font-weight: bold;
    font-size: 17px;
}

.card-title:hover {
    border: none !important;
}

.master-heading {
    border: 1px solid gray;
    border-radius: 10px;
    padding: 3px 10px;
    margin: 0px 10px;
}

.activePage {
    background-color: #6164ef;
    border: none;
}

.navlink-class {
    color: black;
}

.activeNavLink {
    color: white;
}

.load-more-table-data-btn {

    color: black;
}