.master-ul-li {
    font-weight: bold;
    font-size: 17px;
}

.card-title:hover {
    border: none !important;
}

.master-heading {
    border: 1px solid gray;
    border-radius: 10px;
    padding: 3px 0px;
    margin: 0px 7px;
}

@media screen and (max-width: 400px) {

    .master-heading {
        padding: 3px 8px !important;
        /* margin: 0px 5px !important; */
    }
    .card-title {
        font-size: 12px;
    }
}


.activePage {
    background-color: #6164ef;
    border: none;
}

.navlink-class {
    color: black;
}

.activeNavLink {
    color: white;
}

.load-more-table-data-btn {

    color: black;
}

.del-tooltip-content {
    font-size: 12px;
}