.report-table-row {
    line-height: auto;
}

.report-table-head-row {
    background-color: #2f308c;
    color: white;
}

.report-table-head-tr {
    line-height: 12px;

}

.report-table-row td {
    font-size: 0.8rem;
}

.report-table-container {
    height: 450px;
    overflow-y: auto;
}

.report-table-head-row {
    z-index: 888;
    background-color: #2f308c !important;
}