.report-table-row {
    line-height: auto;
}

.report-table-head-row {
    background-color: #2f308c;
    color: white;
}

.report-table-head-tr {
    line-height: 12px;
}

.report-table-row td {
    font-size: 0.8rem;
}

.report-table-container {
    height: 450px;
    overflow-y: auto;
}

.report-table-head-row {
    z-index: 888;
    background-color: #2f308c !important;
}

@media only screen and (max-width:768px) {
    .report-table-head-tr {
        line-height: 15px !important;
    }

    .report-table-head-tr th {
        font-size: 0.7rem;
    }
}

.report-total-row-at-bottom {
    position: sticky;
    bottom: 0px;
    background-color: #2f308c;
    line-height: 4px;
}

.download-report-btn {
    height: 10%;
}

.report-table-container {
    height: 456px;
    overflow-y: auto;
    overflow-x: auto;
    display: inline-block;
}

.report_header_btn {
    font-size: 14px;
}


.scrollable_div {
    max-height: 500px;
    overflow-x: scroll;
    white-space: nowrap;
    overflow-y: hidden;
    /* overflow-y: auto; */
    scrollbar-width: thin;
    /* For Chrome, Edge, and Safari */
    scrollbar-color: rgba(155, 155, 155, 0.5) transparent;
    /* padding-bottom: 40px; */
    /* For IE/Edge */
    -ms-overflow-style: -ms-autohiding-scrollbar;
}


.table_responsives {
    display: block;
    width: 100%;
    overflow-x: auto;
}

.scrollable_div::-webkit-scrollbar {
    height: 16px;
}

.scrollable_div {
    padding-bottom: 35em;
}

.total_row_container {
    background-color: #2f308c !important;
    color: white !important;   
    line-height: 12px;
}
.table_header {
    background-color: #2f308c !important;
    color: white !important;
    font-size: 0.8rem;
}

.total-row {
    background-color: #cfcdcd;
}

.report-search-btn {
    padding-bottom: 10px;
}