#root {
  /* max-width: 1280px; */
  /* margin: 0 auto;  */
  font-family: 'Nunito' !important;
}

.chitti-nav-tabs .nav-justified .nav-item .nav-link {
  width: 90% ;
}

.chitti-nav-tabs .nav-justified .nav-item {
  display: flex;
  justify-content: center;
}

.table-header-row {
  background-color: #E0E1F5;
}

.form-control{
  padding: 6px;
  border: 1px solid #2f308c6e;
}

.narration-table-product{
  width: 60%;
}


.input-fields {
  background-color: #E0E1F5;
    padding: 9px;
    /* border: none; */
    /* box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px; */
    border: 1px solid #2f308c6e;
}
.search-btn {
  background-color: #2f308c;
  padding: 9px;
  color: white;
}
.table-heading {
  background-color: #2f308c;
  color: white;
}
.sr-width {
  width: 6%
}
