#root {
  /* max-width: 1280px; */
  /* margin: 0 auto;  */
  font-family: 'Nunito' !important;
}

.chitti-nav-tabs .nav-justified .nav-item .nav-link {
  width: 90% ;
}

.chitti-nav-tabs .nav-justified .nav-item {
  display: flex;
  justify-content: center;
}

.table-header-row {
  background-color: #E0E1F5;
}

.form-control{
  padding: 6px;
  border: 1px solid #2f308c6e;
}

.narration-table-product{
  width: 60%;
}

/* .delete-link {
  padding: 2px 0px !important;
} */